* linguist-vendored
*.html linguist-vendored=false
wp-content/uploads/2021/03_Tophouse/20211223_185415.mp4 filter=lfs diff=lfs merge=lfs -text
wp-content/uploads/2021/03_Tophouse/20211223_185655.mp4 filter=lfs diff=lfs merge=lfs -text
wp-content/uploads/2021/04_NelsonLakes/20211225_0930.mp4 filter=lfs diff=lfs merge=lfs -text
wp-content/uploads/2021/04_NelsonLakes/20211227_120711.mp4 filter=lfs diff=lfs merge=lfs -text
wp-content/uploads/2021/06_Christchurch/20220105_145254.mp4 filter=lfs diff=lfs merge=lfs -text
